{
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "vars-on-top": 2,
    "no-undef": 2
  },
  "globals": {
    "window": true,
    "document": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
