<!-- /views/index.ejs -->
<!doctype html>
<html>
  <head>
    <title>Go Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin' />
  </head>
  <body>
    <div id="app">
      <%- reactOutput %>
    </div>
  <!-- this script bootstraps the app once the JS is downloaded -->
  <script src="/main.js"></script>
  </body>
</html></p>