<!-- /views/index.html -->
<!doctype html>
<html>
  <head>
    <title>Go Build Monitor</title>
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/stylesheets/style.css" />
    <link rel="stylesheet" href="/assets/stylesheets/flexbox.css" />
    <link rel="stylesheet" href="/assets/stylesheets/materialdesignicons.css" />
  </head>

  <body>
    <div id="app"></div>
    <script src="/assets/js/app.js"></script>
  </body>
</html>
