@font-face {
  font-family: "Roboto";
  src: url('../fonts/roboto-thin-webfont.eot');
  src: url('../fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-thin-webfont.woff') format('woff'), url('../fonts/roboto-thin-webfont.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/roboto-thinitalic-webfont.eot');
  src: url('../fonts/roboto-thinitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-thinitalic-webfont.woff') format('woff'), url('../fonts/roboto-thinitalic-webfont.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/roboto-light-webfont.eot');
  src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-light-webfont.woff') format('woff'), url('../fonts/roboto-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/roboto-lightitalic-webfont.eot');
  src: url('../fonts/roboto-lightitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-lightitalic-webfont.woff') format('woff'), url('../fonts/roboto-lightitalic-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/roboto-regular-webfont.eot');
  src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-regular-webfont.woff') format('woff'), url('../fonts/roboto-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/roboto-italic-webfont.eot');
  src: url('../fonts/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-italic-webfont.woff') format('woff'), url('../fonts/roboto-italic-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/roboto-medium-webfont.eot');
  src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-medium-webfont.woff') format('woff'), url('../fonts/roboto-medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/roboto-mediumitalic-webfont.eot');
  src: url('../fonts/roboto-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-mediumitalic-webfont.woff') format('woff'), url('../fonts/roboto-mediumitalic-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/roboto-bold-webfont.eot');
  src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-bold-webfont.woff') format('woff'), url('../fonts/Roboto/roboto-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto/roboto-bolditalic-webfont.eot');
  src: url('../fonts/Roboto/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/roboto-bolditalic-webfont.woff') format('woff'), url('../fonts/Roboto/roboto-bolditalic-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto/roboto-black-webfont.eot');
  src: url('../fonts/Roboto/roboto-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/roboto-black-webfont.woff') format('woff'), url('../fonts/Roboto/roboto-black-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto/roboto-blackitalic-webfont.eot');
  src: url('../fonts/Roboto/roboto-blackitalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto/roboto-blackitalic-webfont.woff') format('woff'), url('../fonts/Roboto/roboto-blackitalic-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

body {
  padding: 50px;
  font: 12px "Roboto", sans-serif;
}

a {
  color: #00B7FF;
}

.appcontainer {
  text-align: left;
  padding: 20px;
  color: #fff;
}

/* Build title, pipeline name and status */
div.buildtitle > div {
  width: 80%;
}
div.buildtitle span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Weather status indicator */
.buildstatus {
  color: #fff;
  position: absolute;
  top: 14px;
  right: 10px;
}

/* Info text att card bottom, triggered by etc. */
div.buildinfo {
  color: #fff;
  display: flex;
  width: 100%;
}
div.buildinfo > div {
  padding-right: 0;
  padding-left: 0;
}
div.buildinfo .progress {
  float: right;
  color: #fff;
}
div.buildinfo > div > p {
  min-height: 27px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
div.buildinfo p.right {
  text-align: right;
}
div.buildinfo p.right > i {
  vertical-align: text-bottom;
}
div.buildinfo p.right > span {
  padding: 0;
  vertical-align: sub;
}
div.buildinfo span {
  padding-left: 10px;
  vertical-align: text-bottom;
}

/** masonry layout */
.masonry {
    margin: 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
    font-size: .85em;
}

.item {
    display: inline-block;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

/* Progress spinner */
.loader {
  vertical-align: middle;
  margin: 0 1px;
  display: inline-block;
  position: relative;
  width: 13px;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  stroke: white;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px;
  }
}
